@charset "UTF-8";

/*****Tipografía********/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

* { 
  margin: 0;
  box-sizing: border-box; 
  padding: 0; 
}
a, ul, li, input{
	text-decoration: none;
	list-style: none;
	color: black;
	border: none;
 }

 h2{
   font-family: 'Nunito' sans-serif;
   
 }
 


body {
  background-color: white;
 

}

#container{
    max-width: 1440px;
    width: 360px;
   display: flex;
  
}

/* Navbar Mobile */
.navbarMobile {
  width: 100%;
  
}
.navbarMobile a {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: white;
}
.navContainer {
  width: 100%;
  margin: auto;
  display: none;
  position: relative;
  height: 60px;
}
#chk {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 40px;
  right: 55px;
  z-index: 120;
}
.logoContainer {
  display: block;
  width: 92px;
  height: 125px;
  z-index: 120;
}
.logotipo {
  position: relative;
  top: 5px;
  left: 20px;
  width: 151px;
  height: 205px;
}
.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #627B23;
}
.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in;
}
.line2 {
  transition: transform 0.2s ease-in;
}
.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in;
}
.menu-items {
  position: absolute;
  top: 0;
  background-color: #627B23;
  color: white;
  display: flex;
	gap: 10px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  transition: transform 0.5s ease-in;
  z-index: 99;
}
.menu-items li {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #627B23;
  width: 100%;
  padding: 10px 0;
}
input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
input[type="checkbox"]:checked ~ .hamburger .line1 {
  transform: rotate(45deg);
	background: #627B23;
}
input[type="checkbox"]:checked ~ .hamburger .line2 {
	transform: scaleY(0);
	background: #627B23;
}
input[type="checkbox"]:checked ~ .hamburger .line3 {
	transform: rotate(-45deg);
	background: #627B23;
}

/***********Finaliza el menu********************/


.aboveTheFold{
	background-image: url("../imagenes/portadaMobile.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 272px;
	width: 100%;
	margin-top: 70px;
  
}
.aboveTheFold  button{
  border: none;
  background-color: #627B23;
  margin-left: 190px;
  margin-top: 105px;
  font-family: 'Nunito' sans-serif;
  font-size: 10px;
  padding: 10px 5px;
  border-radius: 30px;
  letter-spacing: 0.5px;
  z-index: 90;
  
}
.aboveTheFold  button a{
  color: white;

}
/********Finaliza Above the fold**********/

/********Categorias***************/
#divisiones{
    display: flex;
    flex-direction: column;
    
}

#divisiones .categoria img{
        width: 228px;
        height: 172px;
        padding: 20px;
        margin-left: 85px;
        border-radius: 46px;
}

#divisiones .categoria h2{
     text-align: center;
      font-family: 'Nunito' sans-serif;
      font-size: 1.2em;
      margin-left: 40px;
      
}

#divisiones .categoria img:hover {
 opacity: 0.5;

}

#divisiones .categoria input:focus{
   min-width: 360px;
   opacity: 0,5;
  

}

/********Finaliza Categorias***************/

/********Promocion del mes ************/
.oferta {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}

/********Finalización de promocion del mes ************/

.especial{
  width: 100%;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.temporada .mandarina{
      width: 228px;
      height: 144px;
      border-radius: 46px;
      display: flex;
     justify-content: center;
}
.temporada h2{
      font-family: 'Nunito' sans-serif;
      text-align: center;
      font-size: 1.2em;
      margin-right: 50px;
      padding: 20px;
}


.ideas h2{
    text-align: center;
    font-size: 1.2em;
    margin-right: 50px;
    padding: 20px;
}

.ideas .batido{
  width: 228px;
  height: auto;
  border-radius: 46px;
   display: flex;
  justify-content: center;
}

.temporada .mandarina:hover {
  content:'Productos de temporada';
  opacity: 0.5;
 
 }
 
 .temporada .mandarina input:focus{
    min-width: 360px;
    opacity: 0,5;
   
 
 }

 .ideas .batido:hover{
     content:'Ideas';
     opacity: 0.5;
 }

 .ideas .batido input:focus{
   min-width: 360px;
   opacity: 0,5;
  

}

/************Temporada e Ideas******************/
/********Finalización temporada e Ideas*************/


/****Formulario*****/
form{
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 50px;
	width: 100%;
	max-width: 1440px;
	border-radius: 46px;
}

form h1 {
	color: #000;
  font-family: 'Nunito' sans-serif;
  font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 20px;
  display: flex;
  text-align: center;
}

form h3{
	color: #627B23;
  font-size: 12px;
	right: 20px;
   font-family: 'Nunito' sans-serif;
   
}

form input, form textarea{
	width: 230px;
	height: 33px;
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #B8CF81;
	font-size: 15px;
	border-radius: 8px;

}

form button{
	padding: 10px;
	background: #CC0000;
	color: #fff;
  text-align: center;
	font-size: 15px;
	border: 0;
	border-radius: 49px;
	outline: none;
	cursor: pointer;
	width: 93px;
	height: 37px;
  margin-left: 150px;
	
}

/****Finalización formulario*****/

/******Footer***********/

footer{
  
  font-size: 1em;
  letter-spacing: 2px;
  width: 100%;
  height: auto; 
  background: #000;
  color: #fff;
  bottom: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes h2{
  font-family: 'Nunito','Arial' sans-serif;
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
i {
         font-size: 35px;
         padding-left: 60px;
         letter-spacing: 30px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
}


.pie-pagina p{
  font-family: 'Nunito','Arial' sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.logoFinal{
     width: 67px; 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derechos p{
  font-family: 'Nunito','Arial' sans-serif;
  font-size: 0.5em;
  text-align: center;
  line-height: 30px;
  top: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
/******Finalizacion de footer***********/